* {
  box-sizing: border-box;
}

.post {
  border: 2px dotted teal;
  border-radius: 15px;
  padding: 10px;
}

.hidden {
  display: none;
  /* visibility: hidden; */
}

#new-post {
  margin: 10px auto;
  padding: 5px;
  border: 2px solid skyblue;
  border-radius: 5px;
}
